NEXT_PUBLIC_SITE_URL=https://auspropertycalc.com.au
NEXT_PUBLIC_APP_URL=https://auspropertycalc.com.au
NEXT_PUBLIC_POSTHOG_KEY=phc_vgJdfMbmK4k939dYXkBayD7DMPfbUVEXhSHDAdBcyDBL
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_ADSENSE_CLIENT=
BREVO_API_KEY=
BREVO_AUSPROPERTYCALC_LIST_ID=
